# Compiled source #
###################
*.asc
*.asm
*.c
*.cmake
*.diff
*.h
*.py
*.sh
*.yaml
*.yml
*LICENCE.*
*Makefile*
*NOTICE.txt
*Notice.txt
*WHENCE*
*iwlwifi-*
lib/firmware/.codespell.cfg
lib/firmware/.directory
lib/firmware/.editorconfig
lib/firmware/Apache-2
lib/firmware/Dockerfile
lib/firmware/GPL-2
lib/firmware/GPL-3
lib/firmware/README.md
lib/firmware/amd-ucode/README
lib/firmware/atusb/ChangeLog
lib/firmware/av7110/Boot.S
lib/firmware/av7110/Makefile
lib/firmware/brcm/brcmfmac43340-sdio.Insyde-VESPA2.txt
lib/firmware/brcm/brcmfmac43362-sdio.ASUSTeK COMPUTER INC.-ME176C.txt
lib/firmware/brcm/brcmfmac43430-sdio.ilife-S806.txt
lib/firmware/brcm/brcmfmac4354-sdio.nvidia,p2371-2180.txt
lib/firmware/contrib/templates/debian.changelog
lib/firmware/contrib/templates/debian.control
lib/firmware/contrib/templates/debian.copyright
lib/firmware/contrib/templates/rpm.spec
lib/firmware/isci/README

# Directories #
###############
/lib/firmware/amd
/lib/firmware/amd-ucode
/lib/firmware/amdgpu
/lib/firmware/amdtee
/lib/firmware/ar3k
/lib/firmware/brcm
/lib/firmware/carl9170fw
/lib/firmware/cirrus
/lib/firmware/nvidia
