# Compiled source #
###################
*.directory
*.bak
/.project
*.db
*.qmlc
lib/firmware/WHENCE
lib/firmware/README.md
lib/firmware/qcom/NOTICE.txt
lib/firmware/Makefile
lib/firmware/LICENSE.xe
lib/firmware/LICENSE.sdma_firmware
lib/firmware/LICENSE.radeon
lib/firmware/LICENSE.QualcommAtheros_ath10k
lib/firmware/LICENSE.QualcommAtheros_ar3k
lib/firmware/LICENSE.qcom_yamato
lib/firmware/LICENSE.qcom
lib/firmware/LICENSE.powervr
lib/firmware/LICENSE.nxp_mc_firmware
lib/firmware/LICENSE.nxp
lib/firmware/LICENSE.montage
lib/firmware/LICENSE.Lontium
lib/firmware/LICENSE.ixp4xx
lib/firmware/LICENSE.ivsc
lib/firmware/LICENSE.ipu3_firmware
lib/firmware/LICENSE.ice_enhanced
lib/firmware/LICENSE.ice
lib/firmware/LICENSE.i915
lib/firmware/LICENSE.hfi1_firmware
lib/firmware/LICENSE.dib0700
lib/firmware/LICENSE.cirrus
lib/firmware/LICENSE.atmel
lib/firmware/LICENSE.amphion_vpu
lib/firmware/LICENSE.amlogic_vdec
lib/firmware/LICENSE.amlogic
lib/firmware/LICENSE.amdgpu
lib/firmware/LICENSE.amd_pmf
lib/firmware/LICENSE.amd-ucode
lib/firmware/LICENSE.amd-sev
lib/firmware/LICENSE.airoha
lib/firmware/LICENCE.xc5000c
lib/firmware/LICENCE.xc5000
lib/firmware/LICENCE.xc4000
lib/firmware/LICENCE.wl1251
lib/firmware/LICENCE.via_vt6656
lib/firmware/LICENCE.ueagle-atm4-firmware
lib/firmware/LICENCE.ti-tspa
lib/firmware/LICENCE.ti-keystone
lib/firmware/LICENCE.ti-connectivity
lib/firmware/LICENCE.siano
lib/firmware/LICENCE.rtlwifi_firmware.txt
lib/firmware/LICENCE.rockchip
lib/firmware/LICENCE.ralink_a_mediatek_company_firmware
lib/firmware/LICENCE.ralink-firmware.txt
lib/firmware/LICENCE.r8a779x_usb3
lib/firmware/LICENCE.qla2xxx
lib/firmware/LICENCE.qla1280
lib/firmware/LICENCE.qat_firmware
lib/firmware/LICENCE.phanfw
lib/firmware/LICENCE.open-ath9k-htc-firmware
lib/firmware/LICENCE.OLPC
lib/firmware/LICENCE.NXP
lib/firmware/LICENCE.nvidia
lib/firmware/LICENCE.Netronome
lib/firmware/LICENCE.myri10ge_firmware
lib/firmware/LICENCE.moxa
lib/firmware/LICENCE.microchip
lib/firmware/LICENCE.mediatek
lib/firmware/LICENCE.Marvell
lib/firmware/LICENCE.mali_csffw
lib/firmware/LICENCE.linaro
lib/firmware/LICENCE.kaweth
lib/firmware/LICENCE.iwlwifi_firmware
lib/firmware/LICENCE.it913x
lib/firmware/LICENCE.IntcSST2
lib/firmware/LICENCE.ibt_firmware
lib/firmware/LICENCE.go7007
lib/firmware/LICENCE.fw_sst_0f28
lib/firmware/LICENCE.ene_firmware
lib/firmware/LICENCE.e100
lib/firmware/LICENCE.cypress
lib/firmware/LICENCE.cw1200
lib/firmware/LICENCE.cnm
lib/firmware/LICENCE.chelsio_firmware
lib/firmware/LICENCE.cavium_liquidio
lib/firmware/LICENCE.cavium
lib/firmware/LICENCE.cadence
lib/firmware/LICENCE.ca0132
lib/firmware/LICENCE.broadcom_bcm43xx
lib/firmware/LICENCE.atheros_firmware
lib/firmware/LICENCE.agere
lib/firmware/LICENCE.adsp_sst
lib/firmware/LICENCE.Abilis
lib/firmware/keyspan_pda/Makefile
lib/firmware/keyspan_pda/xircom_pgs.S
lib/firmware/keyspan_pda/keyspan_pda.S
lib/firmware/isci/README
lib/firmware/isci/probe_roms.h
lib/firmware/isci/Makefile
lib/firmware/isci/create_fw.h
lib/firmware/isci/create_fw.c
lib/firmware/GPL-3
lib/firmware/GPL-2
lib/firmware/dsp56k/Makefile
lib/firmware/dsp56k/concat-bootstrap.pl
lib/firmware/dsp56k/bootstrap.asm
lib/firmware/Dockerfile
lib/firmware/copy-firmware.sh
lib/firmware/contrib/templates/rpm.spec
lib/firmware/contrib/templates/debian.copyright
lib/firmware/contrib/templates/debian.control
lib/firmware/contrib/templates/debian.changelog
lib/firmware/contrib/process_linux_firmware.py
lib/firmware/configure
lib/firmware/cis/src/tamarack.cis
lib/firmware/cis/src/RS-COM-2P.cis
lib/firmware/cis/src/PE520.cis
lib/firmware/cis/src/PE-200.cis
lib/firmware/cis/src/PCMLM28.cis
lib/firmware/cis/src/NE2K.cis
lib/firmware/cis/src/MT5634ZLX.cis
lib/firmware/cis/src/LA-PCM.cis
lib/firmware/cis/src/DP83903.cis
lib/firmware/cis/src/COMpad4.cis
lib/firmware/cis/src/COMpad2.cis
lib/firmware/cis/src/3CXEM556.cis
lib/firmware/cis/src/3CCFEM556.cis
lib/firmware/cis/Makefile
lib/firmware/check_whence.py
lib/firmware/carl9170fw/tools/src/wol.c
lib/firmware/carl9170fw/tools/src/miniboot.c
lib/firmware/carl9170fw/tools/src/fwinfo.c
lib/firmware/carl9170fw/tools/src/eeprom_fix.c
lib/firmware/carl9170fw/tools/src/CMakeLists.txt
lib/firmware/carl9170fw/tools/src/checksum.c
lib/firmware/carl9170fw/tools/lib/CMakeLists.txt
lib/firmware/carl9170fw/tools/lib/carlfw.h
lib/firmware/carl9170fw/tools/lib/carlfw.c
lib/firmware/carl9170fw/tools/Kconfig
lib/firmware/carl9170fw/tools/include/list.h
lib/firmware/carl9170fw/tools/include/frame.h
lib/firmware/carl9170fw/tools/CMakeLists.txt
lib/firmware/carl9170fw/tools/carlu/src/usb.h
lib/firmware/carl9170fw/tools/carlu/src/usb.c
lib/firmware/carl9170fw/tools/carlu/src/tx.c
lib/firmware/carl9170fw/tools/carlu/src/test.h
lib/firmware/carl9170fw/tools/carlu/src/test.c
lib/firmware/carl9170fw/tools/carlu/src/rx.c
lib/firmware/carl9170fw/tools/carlu/src/main.c
lib/firmware/carl9170fw/tools/carlu/src/fw.c
lib/firmware/carl9170fw/tools/carlu/src/debug.h
lib/firmware/carl9170fw/tools/carlu/src/debug.c
lib/firmware/carl9170fw/tools/carlu/src/cmd.h
lib/firmware/carl9170fw/tools/carlu/src/cmd.c
lib/firmware/carl9170fw/tools/carlu/src/carlu.h
lib/firmware/carl9170fw/tools/carlu/CMakeLists.txt
lib/firmware/carl9170fw/toolchain/SHA256SUMS
lib/firmware/carl9170fw/toolchain/Makefile
lib/firmware/carl9170fw/README
lib/firmware/carl9170fw/minifw/miniboot.S
lib/firmware/carl9170fw/minifw/miniboot.lds
lib/firmware/carl9170fw/minifw/Kconfig
lib/firmware/carl9170fw/minifw/CMakeLists.txt
lib/firmware/carl9170fw/Kconfig
lib/firmware/carl9170fw/include/shared/wlan.h
lib/firmware/carl9170fw/include/shared/version.h
lib/firmware/carl9170fw/include/shared/phy.h
lib/firmware/carl9170fw/include/shared/hw.h
lib/firmware/carl9170fw/include/shared/fwdesc.h
lib/firmware/carl9170fw/include/shared/fwcmd.h
lib/firmware/carl9170fw/include/shared/eeprom.h
lib/firmware/carl9170fw/include/linux/types.h
lib/firmware/carl9170fw/include/linux/ieee80211.h
lib/firmware/carl9170fw/include/linux/compiler.h
lib/firmware/carl9170fw/include/linux/ch9.h
lib/firmware/carl9170fw/GPL
lib/firmware/carl9170fw/genapi.sh
lib/firmware/carl9170fw/extra/sh-elf-linux.cmake
lib/firmware/carl9170fw/extra/libusb-zeropacket.diff
lib/firmware/carl9170fw/extra/GCCVersion.cmake
lib/firmware/carl9170fw/extra/FindUSB-1.0.cmake
lib/firmware/carl9170fw/extra/FindPackageHandleStandardArgs.cmake
lib/firmware/carl9170fw/extra/FindGPERF.cmake
lib/firmware/carl9170fw/COPYRIGHT
lib/firmware/carl9170fw/config/zconf.y
lib/firmware/carl9170fw/config/zconf.l
lib/firmware/carl9170fw/config/zconf.gperf
lib/firmware/carl9170fw/config/util.c
lib/firmware/carl9170fw/config/symbol.c
lib/firmware/carl9170fw/config/menu.c
lib/firmware/carl9170fw/config/lkc_proto.h
lib/firmware/carl9170fw/config/lkc.h
lib/firmware/carl9170fw/config/expr.h
lib/firmware/carl9170fw/config/expr.c
lib/firmware/carl9170fw/config/confdata.c
lib/firmware/carl9170fw/config/conf.c
lib/firmware/carl9170fw/config/CMakeLists.txt
lib/firmware/carl9170fw/CMakeLists.txt
lib/firmware/carl9170fw/carlfw/usb/usb.c
lib/firmware/carl9170fw/carlfw/usb/main.c
lib/firmware/carl9170fw/carlfw/usb/Kconfig
lib/firmware/carl9170fw/carlfw/usb/fifo.c
lib/firmware/carl9170fw/carlfw/src/wol.c
lib/firmware/carl9170fw/carlfw/src/wlan.c
lib/firmware/carl9170fw/carlfw/src/udivsi3_i4i-Os.S
lib/firmware/carl9170fw/carlfw/src/uart.c
lib/firmware/carl9170fw/carlfw/src/rf.c
lib/firmware/carl9170fw/carlfw/src/reboot.S
lib/firmware/carl9170fw/carlfw/src/printf.c
lib/firmware/carl9170fw/carlfw/src/memset.S
lib/firmware/carl9170fw/carlfw/src/memcpy.S
lib/firmware/carl9170fw/carlfw/src/main.c
lib/firmware/carl9170fw/carlfw/src/hostif.c
lib/firmware/carl9170fw/carlfw/src/gpio.c
lib/firmware/carl9170fw/carlfw/src/fw.c
lib/firmware/carl9170fw/carlfw/src/dma.c
lib/firmware/carl9170fw/carlfw/src/cmd.c
lib/firmware/carl9170fw/carlfw/src/cam.c
lib/firmware/carl9170fw/carlfw/src/ashlsi3.S
lib/firmware/carl9170fw/carlfw/Kconfig
lib/firmware/carl9170fw/carlfw/include/wol.h
lib/firmware/carl9170fw/carlfw/include/wl.h
lib/firmware/carl9170fw/carlfw/include/usb_fifo.h
lib/firmware/carl9170fw/carlfw/include/usb.h
lib/firmware/carl9170fw/carlfw/include/uart.h
lib/firmware/carl9170fw/carlfw/include/timer.h
lib/firmware/carl9170fw/carlfw/include/rom.h
lib/firmware/carl9170fw/carlfw/include/rf.h
lib/firmware/carl9170fw/carlfw/include/printf.h
lib/firmware/carl9170fw/carlfw/include/io.h
lib/firmware/carl9170fw/carlfw/include/hostif.h
lib/firmware/carl9170fw/carlfw/include/gpio.h
lib/firmware/carl9170fw/carlfw/include/fwdsc.h
lib/firmware/carl9170fw/carlfw/include/dma.h
lib/firmware/carl9170fw/carlfw/include/config.h
lib/firmware/carl9170fw/carlfw/include/cmd.h
lib/firmware/carl9170fw/carlfw/include/carl9170.h
lib/firmware/carl9170fw/carlfw/include/cam.h
lib/firmware/carl9170fw/carlfw/CMakeLists.txt
lib/firmware/carl9170fw/carlfw/carl9170.lds
lib/firmware/carl9170fw/autogen.sh
lib/firmware/build_packages.py
lib/firmware/brcm/brcmfmac4356-pcie.Xiaomi Inc-Mipad2.txt
lib/firmware/brcm/brcmfmac43430-sdio.ilife-S806.txt
lib/firmware/brcm/brcmfmac43362-sdio.ASUSTeK COMPUTER INC.-ME176C.txt
lib/firmware/brcm/brcmfmac43340-sdio.Insyde-VESPA2.txt
lib/firmware/av7110/Makefile
lib/firmware/av7110/Boot.S
lib/firmware/atusb/ChangeLog
lib/firmware/ar3k/30101coex/RamPatch.txt
lib/firmware/ar3k/30101coex/PS_ASIC_aclLowPri.pst
lib/firmware/ar3k/30101coex/PS_ASIC_aclHighPri.pst
lib/firmware/ar3k/30101coex/PS_ASIC.pst
lib/firmware/ar3k/30101coex/ar3kbdaddr.pst
lib/firmware/ar3k/30101/RamPatch.txt
lib/firmware/ar3k/30101/PS_ASIC.pst
lib/firmware/ar3k/30101/ar3kbdaddr.pst
lib/firmware/ar3k/30000/RamPatch.txt
lib/firmware/ar3k/30000/PS_ASIC.pst
lib/firmware/ar3k/30000/ar3kbdaddr.pst
lib/firmware/ar3k/1020201/RamPatch.txt
lib/firmware/ar3k/1020201/PS_ASIC.pst
lib/firmware/ar3k/1020200/RamPatch.txt
lib/firmware/ar3k/1020200/PS_ASIC.pst
lib/firmware/ar3k/1020200/ar3kbdaddr.pst
lib/firmware/usbdux/fx2-include.asm
lib/firmware/rtw88/README
lib/firmware/rtw88/README
lib/firmware/brcm/brcmfmac4356-pcie.Xiaomi Inc-Mipad2.txt
*.txt
/lib/firmware/amdtee
