Source: linux-firmware
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://repo.radeon.com/amdgpu/


Package: linux-firmware
Architecture: amd64
Depends: linux-firmware
Description: Firmware for Linux kernel drivers
 This package provides firmware used by Linux kernel drivers.
